@import '../../theme/sass/conf/conf';

/*:host /deep/ .widgets {
  .smart-table-container {
    width: 100%;
  }
}

:host /deep/ {
  ng2-smart-table {
    th, td {
      border: 1px solid $border-light !important;
      line-height: 35px;
      vertical-align: middle;
    }

    table tr td {
      padding: 0 8px;
    }

    color: $default-text;

    input {
      line-height: 1.5 !important;
    }

    ng2-smart-table-cell {
      color: $default-text;
      line-height: 35px;
    }

    tbody {
      tr {
        color: $default-text;
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }

    a.ng2-smart-sort-link {
      font-size: 14px !important;
      color: $default-text;
      font-weight: $font-bolder;
      &.sort {
        font-weight: $font-bolder !important;

        &::after {
          border-bottom-color: $default-text !important;
        }
      }
    }

    .ng2-smart-actions {
      width: 70px;
      text-align: center;
      .actions {
        float: none;
        text-align: center;
      }
    }

    .ng2-smart-actions-title-add {
      text-align: center;
    }

    a.ng2-smart-action, .ng2-smart-title {
      font-size: 14px !important;
      color: $default-text;
      padding: 0 5px;
      display: inline-block;

      &.ng2-smart-action-add-add {
        font-size: 25px !important;
      }
    }

    nav.ng2-smart-pagination-nav {
      display: flex;
      justify-content: center;
    }
  }
}*/
h4,h1{
  color: white;
}
:host /deep/ .widgets {
  .smart-table-container {
    width: 100%;
  }
}

:host /deep/ {





  .ct-area {
    fill-opacity: .5;
  }

  .ct-label {
    color: blue;
    opacity: 0.9;
    fill: $default-text;
  }

  .ct-chart .ct-label {
    font-size: 1em;
  }

  .ct-chart svg {
    width: 100%;
    display: block;
  }

  .ct-series-a {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $primary;
    }
    .ct-slice-pie, .ct-area {
      fill: $primary;
    }
  }

  .ct-series-b {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $success;
    }
    .ct-slice-pie, .ct-area {
      fill: $success;
    }
  }

  .ct-series-c {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $danger;
    }
    .ct-slice-pie, .ct-area {
      fill: $danger;
    }
  }

  .ct-series-d {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $warning;
    }
    .ct-slice-pie, .ct-area {
      fill: $warning;
    }

  }

  .ct-series-e {
    .ct-bar, .ct-line, .ct-point, .ct-slice-donut, .ct-slice-pie {
      stroke: $info;
    }
    .ct-slice-pie, .ct-area {
      fill: $info;
    }
  }

  .stacked-bar .ct-bar {
    stroke-width: 30px;
  }










  ng2-smart-table {
    li:hover {
background: #C7D7FF !important;
}
li.page-item.disabled:hover {
background: #8c9099 !important;
}
li.page-item {
background: #c0c1c4 !important;
}
li.page-item.disabled {
background: #8c9099 !important;
}
    th, td {
      border: 1px solid #163174 !important;
      color: #163174;
      line-height: 35px;
      vertical-align: middle;      
    }

    table tr td {
      padding: 0 8px;
    }

    color: $default-text;

    input {
      line-height: 1.5 !important;
      color: #163174;
      border-color: #163174;
      background: transparent !important;
    }
    
    input:focus, textarea:focus, select:focus {
      line-height: 1.5 !important;
      color: #163174;
      border-color: #163174;
      background: transparent !important;
    }
    
    ::-webkit-input-placeholder { /* Chrome */
      color: #163174;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #163174;
      opacity: 1;
    }

    thead tr td {
      color: #163174;
    }

    ng2-smart-table-cell {
      color: #163174;
      line-height: 35px;
    }
    body{
      color: white,
    }
    tbody {
      tr {
        color: $default-text;        
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }

    a.ng2-smart-sort-link {
      font-size: 14px !important;
      color: #163174;
      font-weight: $font-bolder;
      &.sort {
        font-weight: $font-bolder !important;

        &::after {
          /*border-bottom-color: $default-text !important;*/
          border-bottom-color: #a9a9a9 !important;
        }
      }
    }

    .ng2-smart-actions {
      width: 70px;
      text-align: center;
      .actions {
        float: none;
        text-align: center;
      }
    }

    .ng2-smart-actions-title-add {
      text-align: center;
    }

    a.ng2-smart-action, .ng2-smart-title {
      font-size: 14px !important;
      color: #163174;
      padding: 0 5px;
      display: inline-block;

      &.ng2-smart-action-add-add {
        font-size: 25px !important;
      }
    }

    nav.ng2-smart-pagination-nav {
      display: flex;
      justify-content: center;
    }

  }

    h3 {
      color:#163174;
    }

}

.select-style {
    width: auto;
    height: auto;
    float: left;
}

.select-style select {
    padding: 5px 8px;
    width: 150px;
    border: 1px solid #163174;
    background: transparent;
    background-image: none;
    -webkit-appearance: menulist-button;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: #163174;
}

input {
    padding: 5px 8px;
    width: auto;
    min-width: 150px;
    border: 1px solid #ABB2B9;
    background: #163174  ;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

input:hover {
    padding: 5px 8px;
    border: 1px solid #ABB2B9;
    background: #163174;
}

div {
    color: #163174;
}
