<div class="widgets">
  <div class="row">
    <ba-card title="{{ 'general.menu.dna' | translate }}" baCardClass="with-scroll" class="smart-table-container">
       <!-- <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)"
        (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>  -->
      <ng2-smart-table [settings]="settings" [source]="source" (edit)="onAddOrEdit($event)" (create)="onAddOrEdit($event)"
        (delete)="onDeleteConfirm($event)">
      </ng2-smart-table> 
      <!-- <ng2-smart-table [settings]="settings" [source]="source"
                       (delete)="onDeleteConfirm($event)"
                       (edit)="onAddOrEdit($event)"
                       (create)="onAddOrEdit($event)">
      </ng2-smart-table> -->
    </ba-card>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>