<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{modalHeader}}</h4>
        <button class="close" aria-label="Close" (click)="discardAndCloseModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea [(ngModel)]="value" [maxLength]="maxLength"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="saveAndCloseModal()">OK</button>
    </div>
</div>
