<div class="auth-main" *ngIf="!isError">
  <div class="auth-block" style="height: 99%; width: 90%; background-color: white">


    <ba-sidebar></ba-sidebar>
    <ba-page-top></ba-page-top>
    <div class="al-main">
      <div class="al-content">
        <ba-content-top></ba-content-top>
        <router-outlet></router-outlet>

        <div>this is the main page</div>



      </div>
    </div>
    <footer class="al-footer clearfix">
      <div class="al-footer-right"><img src="assets/images/userIcon.png" style="height: 12px;"></div>
      <div class="al-footer-main clearfix">
        <div class="al-copy" style="color: white;">&copy; <a href="https://www.utm.ac.mu/" style="color: white;" translate>{{'general.utm'}}</a> 2017</div>
      </div>
    </footer>
    <ba-back-top position="200"></ba-back-top>






  </div>
</div>
<div class="auth-main" *ngIf="isError">
  <div class="auth-block" style="height: auto; width: 90%; background-color: black">
    <div style="width: 100%; text-align: left; height: auto; ">

      <h3 style="font-style: 10px arial!important; color: #333;">
        404 PAGE NOT FOUND
      </h3>
    </div>
  </div>
</div>