<div class="widgets">

        <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">

                        <ba-card baCardClass="banner-column-panel">
                                <div class="banner">
                                        <div class="large-banner-wrapper">
                                                <img src="{{ ( 'app/homeImages/dnaBlueRed.jpg' | baAppPicture ) }}" alt="" />
                                        </div>
                                        <div class="banner-text-wrapper">
                                                <div class="banner-text">
                                                        <h1>Simple Banner Text</h1>

                                                        <p>Lorem ipsum dolor sit amet</p>

                                                        <p>Odio amet viverra rutrum</p>
                                                </div>
                                        </div>
                                </div>
                                <br>
                                <div class="section">
                                        <h2>Columns</h2>

                                        <div class="row">
                                                <div class="col-sm-6">
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/typography/typo03.png' | baAppPicture ) }}" alt="" title="" />
                                                        </div>
                                                        <p>Vel elit, eros elementum, id lacinia, duis non ut ut tortor blandit.
                                                                Mauris
                                                                <a href>dapibus</a> magna rutrum. Ornare neque suspendisse
                                                                <a href>phasellus wisi</a>, quam cras pede rutrum suspendisse,
                                                                <a href>felis amet eu</a>. Congue magna elit quisque quia, nullam
                                                                justo sagittis, ante erat libero placerat, proin condimentum
                                                                consectetuer lacus. Velit condimentum velit, sed penatibus
                                                                arcu nulla.</p>
                                                </div>
                                                <div class="col-sm-6">
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/typography/typo01.png' | baAppPicture ) }}" alt="" title="" />
                                                        </div>
                                                        <p>Et suspendisse, adipiscing fringilla ornare sit ligula sed, vel nam.
                                                                Interdum et justo nulla, fermentum lobortis purus ut eu,
                                                                duis nibh dolor massa tristique elementum, nibh iste potenti
                                                                risus fusce aliquet fusce, ullamcorper debitis primis arcu
                                                                tellus vestibulum ac.</p>
                                                </div>
                                        </div>

                                        <div class="separator"></div>

                                        <div class="row">
                                                <div class="col-sm-4">
                                                        <h4>Column heading example</h4>
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/typography/typo04.png' | baAppPicture ) }}" alt="" />
                                                        </div>
                                                        <p>Eget augue, lacus erat ante egestas scelerisque aliquam, metus molestie
                                                                leo in habitasse magna maecenas
                                                        </p>
                                                        <a href class="learn-more">Learn more</a>
                                                </div>
                                                <div class="col-sm-4">
                                                        <h4>Yet another column heading example</h4>
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/typography/typo05.png' | baAppPicture ) }}" alt="" />
                                                        </div>
                                                        <p>Augue massa et parturient, suspendisse orci nec scelerisque sit,
                                                                integer nam mauris pede consequat in velit
                                                        </p>
                                                        <a href class="learn-more">Learn more</a>
                                                </div>
                                                <div class="col-sm-4">
                                                        <h4>Third column heading example</h4>
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/typography/typo06.png' | baAppPicture ) }}" alt="" />
                                                        </div>
                                                        <p>Eget turpis, tortor lobortis porttitor, vestibulum nullam vehicula
                                                                aliquam
                                                        </p>
                                                        <a href class="learn-more">Learn more</a>
                                                </div>
                                        </div>
                                        <div class="separator"></div>
                                </div>
                        </ba-card>
                </div>
        </div>

</div>



<!-- 
<input type="checkbox" [(ngModel)]="checkboxModel[1]">
<label *ngIf="checkboxModel">value:{{checkboxModel[1]}}</label>
<button (click)="sendnow()">OK</button> -->