<div class="widgets">

        <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">

                        <ba-card baCardClass="banner-column-panel">
                                <div class="banner">
                                        <div class="large-banner-wrapper">
                                                <img src="{{ ( 'app/homeImages/dnaBlueRed.jpg' | baAppPicture ) }}" alt="" />
                                        </div>
                                        <div class="banner-text-wrapper">
                                                <div class="banner-text">
                                                        <h1 translate>{{'home.welcome'}}</h1>

                                                        <p translate>{{'home.seeTuto'}}</p>
                                                        <p>
                                                                <a href="#codon"translate>{{'home.whatCodon'}}</a>
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                <div class="section" id="codon">
                                        <h2 translate>{{'home.whatCodon'}}</h2>

                                        <div class="row">
                                                <div class="col-sm-6">
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/homeImages/codons.png' | baAppPicture ) }}" alt="" title="" />
                                                        </div>
                                                        <p translate>{{'home.aSequenceOf'}}
                                                                <b translate>{{'home.three'}}</b> {{'home.nucleotidesETC'}}</p>
                                                </div>
                                                <div class="col-sm-6">
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/homeImages/codonTable.jpg' | baAppPicture ) }}" alt="" title="" />
                                                        </div>
                                                        <p translate>{{'home.aboveFigCodon'}}</p>
                                                </div>
                                        </div>

                                        <div class="separator"></div>
                                        <h2 translate>{{'home.purposeApp'}}</h2>

                                        <div class="row">
                                                <div class="col-sm-4">
                                                        <h3 translate>{{'home.cubCalculation'}}</h3>
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/typography/typo04.png' | baAppPicture ) }}" alt="" />
                                                        </div>
                                                        <p translate>{{'home.chooseListDB'}}</p>
                                                        <a href="https://en.wikipedia.org/wiki/Codon_usage_bias" class="learn-more" translate>{{'home.learnMore'}}</a>
                                                </div>
                                                <div class="col-sm-4">
                                                        <h3 translate>{{'home.1billion'}}</h3>
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/homeImages/DNA_Sequence.jpg' | baAppPicture ) }}" alt="" />
                                                        </div>
                                                        <p translate>{{'home.compared500'}}<b translate>{{'home.gb1'}}</b> {{'home.evenMore'}}
                                                        </p>
                                                </div>
                                                <div class="col-sm-4">
                                                        <h3 translate>{{'home.bChart'}}</h3>
                                                        <div class="img-wrapper">
                                                                <img src="{{ ( 'app/homeImages/graph.png' | baAppPicture ) }}" alt="" />
                                                        </div>
                                                        <p translate>{{'home.thx'}}<b translate>{{'home.ngxCharts'}}</b>{{'home.userFriendly'}} 
                                                        </p>
                                                        <a href="https://github.com/swimlane/ngx-charts" class="learn-more" translate>{{'home.learnMore'}}</a>
                                                </div>
                                        </div>
                                        <div class="separator"></div>
                                </div>
                        </ba-card>
                </div>
        </div>

</div>



<!-- 
<input type="checkbox" [(ngModel)]="checkboxModel[1]">
<label *ngIf="checkboxModel">value:{{checkboxModel[1]}}</label>
<button (click)="sendnow()">OK</button> -->