@import '../../theme/sass/auth';

label.col-sm-2.control-label {
    width: 140px !important;
    min-width: 140px !important;
    max-width: 140px !important;
}

div.col-sm-10 {
    width: 350px !important;
    min-width: 350px !important;
    max-width: 350px !important;
}

button.btn.btn-default.btn-auth {
    width: 100% !important;
}
