<div class="auth-main">
  <div class="auth-block">
    <h1>Change password</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!oldPassword.valid && oldPassword.touched), 'has-success': (oldPassword.valid && oldPassword.touched)}">
        <label for="inputName3" class="col-sm-2 control-label">Old password</label>
        <div class="col-sm-10">
          <input [formControl]="oldPassword" type="password" class="form-control" id="inputName3" placeholder="Old Password">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label">New password</label>
        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <label for="inputPassword4" class="col-sm-2 control-label">Repeat password</label>
        <div class="col-sm-10">
          <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Repeat Password">
          <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Passwords don't match.</span>
        </div>
      </div>

      <div class="form-group row" *ngIf="!isCompleted">
        <label for="none" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Change password</button>
        </div>
      </div>

      <div class="form-group row" *ngIf="!isChangePasswordLocked">
        <label for="none" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <button (click)="onCancelClicked($event)" class="btn btn-default btn-auth">Cancel</button>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <div style="width: 140px;">
          <p style="color: #A3B2D9; font-size: 13px;">
            New password should have at least:
          </p>
        </div>

        <div class="col-sm-10">
          <p style="color: #A3B2D9; font-size: 13px; padding-left: 10px;">
            • &nbsp; &nbsp; 8 characters <br /> • &nbsp; &nbsp; One lower case <br /> • &nbsp; &nbsp; One upper case <br
            /> • &nbsp; &nbsp; One number <br /> • &nbsp; &nbsp; One special charater
          </p>
        </div>
      </div>
    </form>
  </div>
  <simple-notifications [options]="options"></simple-notifications>
</div>
